<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<style>
  /*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1644 {
    padding: var(--sectionPadding);
  }
  #services-1644 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(2.5rem, 4vw, 4rem);
  }
  #services-1644 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1644 .cs-title {
    max-width: none;
  }
  #services-1644 .cs-text {
    max-width: 60ch;
  }
  #services-1644 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  #services-1644 .cs-item {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    /* resets at tablet */
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* 24px - 40px */
    gap: clamp(1.5rem, 3vw, 2.5rem);
    position: relative;
    z-index: 1;
  }
  #services-1644 .cs-item:last-of-type:before {
    display: none;
  }
  #services-1644 .cs-item:before {
    /* gradient line divider */
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #bababa 50%, rgba(255, 255, 255, 0) 100%);
    opacity: .6;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
  }
  #services-1644 .cs-item:first-of-type {
    padding-top: 0;
  }
  #services-1644 .cs-item:last-of-type {
    padding-bottom: 0;
    border: none;
  }
  #services-1644 .cs-image-group {
    position: relative;
  }
  #services-1644 .cs-icon {
    width: 3rem;
    height: auto;
  }
  #services-1644 .cs-h2 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #services-1644 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(1.2rem, 1.6vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1644 .cs-container {
    max-width: 120rem;
  }
  #services-1644 .cs-card-group {
    flex-direction: row;
    justify-content: center;
  }
  #services-1644 .cs-item {
    /* 24px - 60px */
    padding: 0rem clamp(1.5rem, 3vw, 3.75rem);
  }
  #services-1644 .cs-item:before {
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #bababa 50%, rgba(255, 255, 255, 0) 100%);
    left: auto;
    right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .hideMobile {display: none;}

}           
               
</style>
<span id="about"></span>
<section id="services-1644">
  <div class="cs-ul-wrapper">
    <div class="hideMobile">        <span class="cs-title">Quick Links</span>
      <ul id="cs-expanded" class="cs-ul" style="padding: 20px; text-align: left;">
          {% set navPages = collections.all | eleventyNavigation %}
  
          {# Loop through all pages with a eleventyNavigation in the frontmatter #}
          {% for entry in navPages %}
  
              {# Define a hasChild variable to make it easier to test what navigation items are have child dropdown pages #}
              {% set hasChild = entry.children.length %}
  
              {# Check the frontmatter for hideOnMobile/hideOnDesktop. Form a list of classes to be joined when the item is rendered #}
              {% set hideClasses = [] %}
              {% if entry.hideOnMobile %}
                  {% set hideClasses = (hideClasses.push("cs-hide-on-mobile"), hideClasses) %}
              {% endif %}
              {% if entry.hideOnDesktop %}
                  {% set hideClasses = (hideClasses.push("cs-hide-on-desktop"), hideClasses) %}
              {% endif %}
  
              {# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes #}
              <li class="cs-li {% if hasChild %} cs-dropdown {% endif %} {{ hideClasses | join(" ") }}" style="margin-bottom:10px;">
  
                  {# If the page has child dropdown pages, render it as a <button> tag with the appropriate dropdown HTML #}
                  {% if hasChild %}
  
                      {# Check to see if the user's current page is one of the child pages. If so, apply the cs-active class to the dropdown parent #}
                      {% set activeClass = "" %}
                      {% for child in entry.children %}
                          {% if child.url == page.url %}
                              {% set activeClass = "cs-active" %}
                          {% endif %}
                      {% endfor %}
  
                      {# Render the <button> with the active class, dropdown icon and child links #}
                      <button 
                          class="cs-li-link cs-dropdown-button {{ activeClass }}"
                          aria-expanded="false"
                          aria-controls="dropdown-{{ entry.key }}"
                          aria-label="dropdown-{{ entry.key }}"
                      >
                          {{ entry.key }}
                          <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                      </button>
  
                      {# Dropdowns have another ul/li set up within the parent li, which gets rendered in the same way as a normal link #}
                      <ul class="cs-drop-ul" id="dropdown-{{ entry.key }}">
                          {% for child in entry.children %}
                              <li class="cs-drop-li" style="margin-bottom: 10px;">
                                  <a href="{{ child.url }}" class="cs-li-link cs-drop-link">{{ child.key }}</a>
                              </li>
                          {% endfor %}
                      </ul>
                  {% else %}
                      {# Normal pages are rendered as <a> tags, in the normal way you'd expect #}
                      <a href="{{ entry.url }}" class="cs-link {% if entry.url == page.url %} cs-active {% endif %}" {% if entry.url == page.url %} aria-current="page" {% endif %}>
                          {{ entry.key }}
                      </a>
                  {% endif %}
              </li>
          {% endfor %}
      </ul>
      </div>
  <div class="cs-container">
      <div class="cs-content">

       
       <!--  <span class="cs-topper">Dear Members & Friends of Tuesday Musicale of Detroit</span>
          <p class="cs-text">
            <BR><BR>
              This coming Tuesday at Grosse Pointe Unitarian Church, 17150 Maumee Ave., we will be presenting a concert comprising solos by prizewinners at our recent Student League competitions. You will be blown away by the extraordinary talent of these young musicians. It’s hard to imagine a more rewarding way of spending a Tuesday evening.
              <BR><BR>
              See you there!
              <BR><BR>
              Eric Winter
<BR><BR><BR><BR> -->
          </p>
          <span class="cs-topper">The Tuesday Musicale of Detroit</span>
          <h2 class="cs-title">Our Performers</h2>
          <!--<p class="cs-text">
              Designed to maintain your current colour, blend out a growing root or balance your blonde while providing full and demi-permanent coverage.
          </p>-->
      </div>
      <ul class="cs-card-group" style="max-width: 1200px;">

        <li class="cs-item">
          <div class="cs-image-group">
              <img class="cs-icon" loading="lazy" decoding="async"
                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/checkmark-circle-gold.svg" alt="icon" width="48"
                      height="48" aria-hidden="true">
          </div>
          <div class="cs-flex">
              <h2 class="cs-h2">Professional Musicians<BR><BR></h2>
              <p class="cs-item-text">
                Who appreciate the opportunity to perform for an appreciative and informed audience
              </p>
          </div>
      </li>
          <li class="cs-item">
              <div class="cs-image-group">
                  <img class="cs-icon" loading="lazy" decoding="async"
                          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/checkmark-circle-gold.svg" alt="icon" width="48"
                          height="48" aria-hidden="true">
              </div>
              <div class="cs-flex">
                  <h2 class="cs-h2">High performing non professional musicians</h2>
                  <p class="cs-item-text">
                    Who value the chance to perform for each other and for their friends.
                  </p>
              </div>
          </li>

        <li class="cs-item">
          <div class="cs-image-group">
              <img class="cs-icon" loading="lazy" decoding="async"
                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/checkmark-circle-gold.svg" alt="icon" width="48"
                      height="48" aria-hidden="true">
          </div>
          <div class="cs-flex">
              <h2 class="cs-h2">High-performing teenage musicians</h2>
              <p class="cs-item-text">
                From our Student League who benefit from the experience of performing in a concert setting.
              </p>
          </div>
      </li>
      </ul>

      
{% include 'components/cta_button.html' %}
  </div>                            
</section>
                              