<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<style>
  /*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1644 {
    padding: var(--sectionPadding);
  }
  #services-1644 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(2.5rem, 4vw, 4rem);
  }
  #services-1644 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1644 .cs-title {
    max-width: none;
  }
  #services-1644 .cs-text {
    max-width: 60ch;
  }
  #services-1644 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  #services-1644 .cs-item {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    /* resets at tablet */
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* 24px - 40px */
    gap: clamp(1.5rem, 3vw, 2.5rem);
    position: relative;
    z-index: 1;
  }
  #services-1644 .cs-item:last-of-type:before {
    display: none;
  }
  #services-1644 .cs-item:before {
    /* gradient line divider */
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #bababa 50%, rgba(255, 255, 255, 0) 100%);
    opacity: .6;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
  }
  #services-1644 .cs-item:first-of-type {
    padding-top: 0;
  }
  #services-1644 .cs-item:last-of-type {
    padding-bottom: 0;
    border: none;
  }
  #services-1644 .cs-image-group {
    position: relative;
  }
  #services-1644 .cs-icon {
    width: 3rem;
    height: auto;
  }
  #services-1644 .cs-h2 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #services-1644 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(1.2rem, 1.6vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1644 .cs-container {
    max-width: 120rem;
  }
  #services-1644 .cs-card-group {
    flex-direction: row;
    justify-content: center;
  }
  #services-1644 .cs-item {
    /* 24px - 60px */
    padding: 0rem clamp(1.5rem, 3vw, 3.75rem);
  }
  #services-1644 .cs-item:before {
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #bababa 50%, rgba(255, 255, 255, 0) 100%);
    left: auto;
    right: 0;
  }
}
                                
</style>
<span id="about"></span>
<section id="services-1644">
  <div class="cs-container">
      <div class="cs-content">
       <!-- <a target="_blank" href="/assets/images/flyer3.jpg"><img style="max-width: 600px!important; margin-bottom: 100px; width:100%" src="/assets/images/flyer3.jpg"></a>
          --><span class="cs-topper">Dear Members & Friends of Tuesday Musicale of Detroit</span>
          <p class="cs-text">
            <BR><BR>
            Tuesday Musicale continues into the new year with a
                    perennial favorite of its concert year: Its opera
                    program, this year titled: “Opera with Many Faces”.
                    The program will feature music by such beloved
                    composers as Verdi, Wagner, Franz Lehar, Handel,
                    and Sullivan, of Gilbert and Sullivan fame. The G &amp;
                    S entry will be a parody of their “I’ve got a little list/
                    Of those who never would be missed”, and will be
                    sung by Stan Harr, long-time baritone with the
                    celebrated Detroit Concert Choir. The concert will be
                    at St. Clare of Montefalco Church, 1401 Whittier (at
                    Mack) in Grosse Pointe Park. 7:00 p.m. on Friday
                    February 28.
                    <BR><BR>
                    If you’ve never seen a performance of eurythmy,
                    February 28 will be your chance to do so. Eurythmist
                    Claudia Fontana will be performing eurythmy to the
                    stunningly beautiful Dvorak aria “Song to the Moon”
                    from his opera Rusalka.
                    <BR><BR>
                    Also on the program will be the light opera Franz
                    Lehar classic Mein Lippen (My lips) sung by
                    Ukrainian soprano Olga Yalovenko.
                    <BR><BR>
                    Several other performances will be on the program to
                    enchant and delight you; and if you come to this
                    concert, I can promise you will not regret having
                    attended. The concert is free.
            <BR><BR>
            Regards<BR>
            Eric Winter<BR>
            President<BR>
<BR><BR><BR><BR>
          </p>
          <span class="cs-topper">The Tuesday Musicale of Detroit</span>
          <h2 class="cs-title">Our Performers</h2>
          <!--<p class="cs-text">
              Designed to maintain your current colour, blend out a growing root or balance your blonde while providing full and demi-permanent coverage.
          </p>-->
      </div>
      <ul class="cs-card-group" style="max-width: 1200px;">

        <li class="cs-item">
          <div class="cs-image-group">
              <img class="cs-icon" loading="lazy" decoding="async"
                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/checkmark-circle-gold.svg" alt="icon" width="48"
                      height="48" aria-hidden="true">
          </div>
          <div class="cs-flex">
              <h2 class="cs-h2">Professional Musicians<BR><BR></h2>
              <p class="cs-item-text">
                Who appreciate the opportunity to perform for an appreciative and informed audience
              </p>
          </div>
      </li>
          <li class="cs-item">
              <div class="cs-image-group">
                  <img class="cs-icon" loading="lazy" decoding="async"
                          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/checkmark-circle-gold.svg" alt="icon" width="48"
                          height="48" aria-hidden="true">
              </div>
              <div class="cs-flex">
                  <h2 class="cs-h2">High performing non professional musicians</h2>
                  <p class="cs-item-text">
                    Who value the chance to perform for each other and for their friends.
                  </p>
              </div>
          </li>

        <li class="cs-item">
          <div class="cs-image-group">
              <img class="cs-icon" loading="lazy" decoding="async"
                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/checkmark-circle-gold.svg" alt="icon" width="48"
                      height="48" aria-hidden="true">
          </div>
          <div class="cs-flex">
              <h2 class="cs-h2">High-performing teenage musicians</h2>
              <p class="cs-item-text">
                From our Student League who benefit from the experience of performing in a concert setting.
              </p>
          </div>
      </li>
      </ul>

      
{% include 'components/cta_button.html' %}
  </div>                            
</section>
                              