<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->


<style>
    /*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #logos-572 {
        /* 60px - 130px */
        padding: clamp(3.75rem, 8vw, 8.125rem) 1rem;
        background-color: white;
    }
    #logos-572 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #logos-572 .cs-logo {
        width: auto;
        max-width: 90%;
        height: auto;
        margin: 0;
        display: block;
        filter: grayscale(100%);
        opacity: .9;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #logos-572 .cs-container {
        justify-content: space-between;
    }
    #logos-572 .cs-logo {
        width: 20%;
        /* the max width becomes whatever the actual width of the image is */
        max-width: max-content;
        height: auto;
        display: block;
    }
}

                                
</style>

<section id="logos-572" data-aos="fade-up">
    <div class="cs-container" style="max-width: 900px;">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <img class="cs-logo" style="max-width: 150px;" src="/assets/images/logos/hour.png" alt="logo" width="287" height="65" loading="lazy" decoding="async">
        <img class="cs-logo" style="max-width: 190px;" src="/assets/images/logos/topagent.webp" alt="logo" width="187" height="65" loading="lazy" decoding="async">

        <img class="cs-logo" src="/assets/images/logos/zillow.svg" alt="logo" width="287" height="65" loading="lazy" decoding="async">

        <img class="cs-logo" src="/assets/images/logos/realtor.png" alt="logo" width="287" height="65" loading="lazy" decoding="async">
          </div>

   
    </div>

</section>
                                