<!-- ============================================ -->
<!--                   Process                    -->
<!-- ============================================ -->


<style>
    /*-- -------------------------- -->
<---          Process           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #process-687 {
    padding: var(--sectionPadding);
    /* Centers button */
    text-align: center;
    background-color: var(--primary);
    position: relative;
    z-index: 1;
  }
  #process-687 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #process-687 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #process-687 .cs-topper, #process-687  .cs-title,
  #process-687 .cs-text {
    color: white;
  }
  #process-687 .cs-text {
    opacity: .8;
  }
  #process-687 .cs-card-group {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 1.25rem;
    row-gap: 2.5rem;
  }
  #process-687 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 25.8125rem;
    padding: 0px 50px;
  }
  #process-687 .cs-picture {
    width: 6.25rem;
    height: 6.25rem;
    margin: auto;
    margin-bottom: 1.5rem;
 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #process-687 .cs-icon {
    width: auto;
    height: 2.375rem;
    display: block;
  }
  #process-687 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.75rem;
    color: #fff;
  }
  #process-687 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #process-687 .cs-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.02;
    /* Makes img tag act as a background image */
    object-fit: cover;
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #process-687 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
  }
}
                                
</style>

<section id="process-687">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Easy Process</span>
            <h2 class="cs-title">How to Get Started</h2>
           
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" style="filter: brightness(0) invert(1);"  loading="lazy" decoding="async" src="/assets/svgs/cal.svg" alt="heart icon" width="42" height="42">
                </picture>
                <h4 class="cs-title" style="margin-bottom: 10px;">01</h4>
                <h3 class="cs-h3">Book a free meeting</h3>
                <p class="cs-item-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis culpa, atque ad deleniti earum esse.</p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" style="filter: brightness(0) invert(1);"  loading="lazy" decoding="async" src="/assets/svgs/handshake.svg" alt="toolbox icon" width="42" height="42">
                </picture>
                <h4 class="cs-title" style="margin-bottom: 10px;">02</h4>
                <h3 class="cs-h3">We make a plan</h3>
                <p class="cs-item-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis culpa, atque ad deleniti earum esse.</p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" style="filter: brightness(0) invert(1);"   loading="lazy" decoding="async" src="/assets/svgs/drink.svg" alt="ribbon icon" width="32" height="42">
                </picture>
                <h4 class="cs-title" style="margin-bottom: 10px;">03</h4>
                <h3 class="cs-h3">We Celebrate your success</h3>
                <p class="cs-item-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis culpa, atque ad deleniti earum esse.</p>
            </li>
        </ul>
    </div>

    <a style="margin-top: 100px; background-color: white; color: black;" class="cs-button-solid" href="/contact">Get in touch</a>
</section>
                                