<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->


<footer id="footer">
    <div class="container">
        <div class="left-section">
            
                
            <a class="logo" href="/"><img style="filter: invert(100%); margin: auto; display: block;" loading="lazy" decoding="async" src="/assets/images/logo.svg" alt="logo" width="264" height="78"></a>
            <Div class="cs-topper" style="color:#999">Detroit General Labor</Div>
            <Div class="cs-topper" style="color:#999; margin-bottom: 50px;">"We're here to make your life easier"</Div>
            <div class="cs-social" style="margin: 20px 0px 50px;">
<Div class="cs-topper">Message us on:</Div>
                <a class="cs-social-link" aria-label="visit google profile" href="https://nextdoor.com/profile/01fYx_9bKZFb2nLMK/?is=feed_author">
                    <img style="margin-right: 20px;width: 200px; height: 50px; filter: grayscale(1) brightness(1000%);" class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/nextdoor.svg" alt="google">
                </a>


       
            </div>
        </div>
        
        <div class="right-section">
            <div class="lists">
                
                <ul>
                    <li>
                        <h2>Contact Us</h2>
                    </li>
<div class="cs-topper"> Call or Text:</div>
                    <li style="padding-bottom: 30px;">
                        <a href="tel:{{client.phoneForTel}}">
                           
                            {{client.phoneFormatted}}
                        </a>
                    </li>

                    <li>
                        <a href="/#top">Navigate to Top of page</a>
                    </li>
                </ul>

                
            </div>
        </div>
    </div>
    <STYLE>
        .credit {color:white; text-align: left;}
        .gandalfpill {transition: all ease .2s;margin-left:5px;vertical-align:middle;  display: inline-block; background-color: white; padding:0 8px; border-radius: 999px;}
    .gandalfpill:hover img {filter: grayscale(1) brightness(1000%);transition: all ease .8s;}
    .gandalfpill:hover {border:1px  solid white; background-color: black;  transform: translateY(-5px); transition: all ease .2s;}
    .back2top {font-size:2px}
    </STYLE>
    <div class="credit">
        <span>Website by</span>
       
        <a target="_blank" class="gandalfpill" href="https://designgandalf.com/"><img style="vertical-align:middle; " loading="lazy" decoding="async" src="/assets/svgs/gandalflogo.svg" alt="logo" height="12"></a>
    </div>
</footer>