<style>

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    td {width: 50%;}
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    h2 {
        margin: 40px 0px 10px; text-align: left;
    }

    @media only screen and (min-width: 0rem) {
  #quote-1891 {
   
    /* 340px - 660px */
    padding: var(--sectionPadding);
    background-color: #FAF6F2;
    overflow-x: clip;
    position: relative;
    margin-top: 80px;
  }
  #quote-1891 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
</style>


<div id="quote-1891">
    <div class="cs-container">
        <h1 class="cs-title">Our Members</h1>

        <h2>Solo Piano</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Ball</td><td>Matthew</td></tr>
            <tr><td>Choe</td><td>Soo</td></tr>
            <tr><td>Daniels</td><td>Yaroslav</td></tr>
            <tr><td>Kan</td><td>Juliana</td></tr>
            <tr><td>Kee</td><td>Brenda</td></tr>
            <tr><td>Kim</td><td>Siwon</td></tr>
            <tr><td>Lenz</td><td>Sue Ann Vanderbeck</td></tr>
            <tr><td>Lipare</td><td>Joseph M.</td></tr>
            <tr><td>Mack</td><td>Tomoko</td></tr>
            <tr><td>Mack</td><td>Yuki</td></tr>
            <tr><td>Martin</td><td>Pauline</td></tr>
            <tr><td>Meirelles Jones</td><td>Maria</td></tr>
            <tr><td>Muench</td><td>Shirley</td></tr>
            <tr><td>Ohtani</td><td>Hiroko</td></tr>
            <tr><td>Piao</td><td>Yalan</td></tr>
            <tr><td>Quick</td><td>Mary Levack</td></tr>
            <tr><td>Rollin</td><td>Catherine</td></tr>
            <tr><td>Siciliano</td><td>Mary</td></tr>
            <tr><td>Slomka</td><td>Pamela</td></tr>
            <tr><td>Stojanovska</td><td>Marina</td></tr>
            <tr><td>Sugano</td><td>Yuta</td></tr>
            <tr><td>Tang</td><td>Zhihua</td></tr>
            <tr><td>Woolf</td><td>Barbara M.</td></tr>
            <tr><td>Wheatley</td><td>Susan</td></tr>
            <tr><td>Kendall</td><td>Ellen</td></tr>
        </table>

        <h2>Piano</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Coloma</td><td>Roy</td></tr>
            <tr><td>Munch</td><td>Diana</td></tr>
            <tr><td>Schoenfeld, DDS</td><td>Franziska I</td></tr>
            <tr><td>Smith</td><td>Lauren</td></tr>
            <tr><td>Stone</td><td>Jill</td></tr>
            <tr><td>Vermiglio</td><td>Elaine</td></tr>
            <tr><td>Weingarten</td><td>Ruth</td></tr>
        </table>

        <h2>Fortepiano</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Munch</td><td>Diana</td></tr>
        </table>

        <h2>Soprano</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Brooks</td><td>Bonnie L.</td></tr>
            <tr><td>Fredericks</td><td>Michele</td></tr>
            <tr><td>Hoxie</td><td>Sally</td></tr>
            <tr><td>Kan</td><td>Juliana</td></tr>
            <tr><td>Lord-Kniveton</td><td>Maria</td></tr>
            <tr><td>Munch</td><td>Linda L.</td></tr>
            <tr><td>Theis</td><td>Angela</td></tr>
            <tr><td>Yalovenko</td><td>Olga</td></tr>
        </table>

        <h2>Mezzo Soprano</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Duensing</td><td>Dorothy</td></tr>
        </table>

        <h2>Violin</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Deller</td><td>Joseph</td></tr>
            <tr><td>Kelly</td><td>Velda</td></tr>
            <tr><td>Lee</td><td>Sonia</td></tr>
            <tr><td>Markou</td><td>Kypros</td></tr>
            <tr><td>Okada</td><td>Rose</td></tr>
            <tr><td>Ronmark</td><td>Adrienne</td></tr>
            <tr><td>Tsivinskaya</td><td>Svetlana</td></tr>
            <tr><td>Wu</td><td>Hai-Xin</td></tr>
        </table>

        <h2>Viola</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Madison</td><td>John</td></tr>
            <tr><td>Deller</td><td>Joseph</td></tr>
        </table>

        <h2>Organ</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Grobe</td><td>Dalos</td></tr>
            <tr><td>Hanoian</td><td>Scott</td></tr>
            <tr><td>Palazzolo</td><td>Joseph</td></tr>
        </table>

        <h2>Flute</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Larson</td><td>Laura</td></tr>
            <tr><td>Myers</td><td>Robyn</td></tr>
            <tr><td>Rouse-Freitag</td><td>Shelly</td></tr>
        </table>

        <h2>Alto Flute</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Sherwin</td><td>Catherine</td></tr>
        </table>

        <h2>Piccolo</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Sherwin</td><td>Catherine</td></tr>
        </table>

        <h2>Clarinet</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Dean</td><td>Lillian</td></tr>
            <tr><td>Keil Shaw</td><td>Norma</td></tr>
            <tr><td>Cardenas</td><td>Nolan</td></tr>
        </table>

        <h2>Bassoon</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Lord-Kniveton</td><td>Maria</td></tr>
            <tr><td>Schreiner</td><td>David</td></tr>
        </table>

        <h2>Oboe</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Brown</td><td>Roberta</td></tr>
        </table>

        <h2>Recorder</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Sherwin</td><td>Catherine</td></tr>
        </table>

        <h2>Alto Recorder</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Myers</td><td>Robyn</td></tr>
        </table>

        <h2>Bass Recorder</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Myers</td><td>Robyn</td></tr>
        </table>

        <h2>Cello</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Nicolia</td><td>Timothy</td></tr>
            <tr><td>Vander Weg</td><td>Judith</td></tr>
            <tr><td>Wenzel</td><td>Margaret</td></tr>
            <tr><td>Zenzen</td><td>Eugene</td></tr>
        </table>

        <h2>Eurythmy</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Fontana</td><td>Claudia</td></tr>
        </table>

        <h2>Saxophone</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>DeLouis</td><td>Chris</td></tr>
        </table>

        <h2>Composers</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Lord-Kniveton</td><td>Maria</td></tr>
            <tr><td>Palazzolo</td><td>Joseph</td></tr>
            <tr><td>Payne</td><td>Colin</td></tr>
            <tr><td>Rollin</td><td>Catherine</td></tr>
        </table>

        <h2>Conductors</h2>
        <table>
            <tr><th>Last Name</th><th>First Name</th></tr>
            <tr><td>Hanoian</td><td>Scott</td></tr>
            <tr><td>Markou</td><td>Kypros</td></tr>
            <tr><td>Palazzolo</td><td>Joseph</td></tr>
        </table>
    </div>
</div>
