---
title: 'Events'
description: 'Meta description for the page'
permalink: 'events/'
eleventyNavigation:
    key: Events
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <h1 id="home-h">Upcoming Events</h1>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                 Blog Articles                -->
            <!-- ============================================ -->

            {% if collections.post | length == 0 %}
                <h1>No Events Scheduled at this time. Please Check back soon</h1>
            {% else %}
                {%- for post in collections.post | reverse -%}
                    <article class="recent-articles">
                        <!--Main Article Image-->
                        <picture class="blog-mainImage">
                            <img
                            src="{{ post.data.image }}"
                            alt="{{ post.data.imageAlt }}"
                            width="795"
                            height="400"
                            decoding="async" />
                        </picture>
                        <!--Article Info-->
                        <div class="article-group">
                
                            <h2 class="blog-h1">
                                {{ post.data.title }}
                            </h2>
                            <span class="blog-date">{{ post.date | postDate }}</span>
                            <p class="blog-desc">
                                {{ post.data.description }}
                            </p>
                            <a href="{{ post.url }}" class="blog-link">Learn More</a>
                        </div>
                    </article>
                {%- endfor -%}
            {% endif %}
        </div>

      
    </div>
{% endblock %}