---
title: 'Mia Glow'
description: 'Licensed Beauty, Cosmetic & Personal Care'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

  
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

{% endblock %}

{% block body %}

    
<STYLE>
   /*-- -------------------------- -->
<---    Side by Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-r-1892 {
    width: 100%;
    padding: var(--sectionPadding);
    background-color: #faf6f2;
    display: flex;
    flex-direction: column;
    /* aligns content to the left, set to center to centrally align */
    align-items: flex-start;
    position: relative;
    z-index: 1;
  }
  #sbs-r-1892 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 48px - 80px */
    gap: clamp(3rem, 6vw, 5rem);
  }
  #sbs-r-1892 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 35.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 3;
  }
  #sbs-r-1892 .cs-image-group {
    font-size: min(2.29vw, 0.9rem);
    width: 39.375em;
    height: 45.625em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-r-1892 .cs-picture {
    width: 32.625em;
    height: 42.5em;
    box-sizing: border-box;
    background-color: #dab692;
    overflow: hidden;
    border: 8px solid #dab692;
    border-radius: 16.25rem;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  #sbs-r-1892 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #sbs-r-1892 .cs-graphic {
    height: auto;
    position: absolute;
  }
  #sbs-r-1892 .cs-brown {
    width: 15.125em;
    height: auto;
    top: 1.625em;
    left: 0.8125em;
    z-index: -2;
  }
  #sbs-r-1892 .cs-peach {
    width: 3.625em;
    height: auto;
    top: 0.375em;
    left: 6.8125em;
  }
  #sbs-r-1892 .cs-beige {
    width: 22em;
    height: auto;
    top: 4.4375em;
    left: 1em;
    z-index: -3;
  }
  #sbs-r-1892 .cs-leaf {
    width: 14.0625em;
    height: auto;
    bottom: 0;
    right: 1em;
    z-index: 1;
  }
  #sbs-r-1892 .cs-lines {
    width: 11em;
    height: auto;
    bottom: 0;
    right: 0;
  }
  #sbs-r-1892 .cs-info {
    width: 11rem;
    height:11rem;
    max-width: 19.0625rem;
    padding: 6.25em 2.5em;
    background-color: var(--primary);
    border-radius: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  #sbs-r-1892 .cs-info-text {
    /* 14px - 20px */
    font-size: clamp(0.875rem, 3.5vw, 1.25rem);
    font-weight: 600;
    line-height: 1.6em;
    text-align: center;
    max-width: 13.9375em;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #sbs-r-1892 .cs-bold {
    /* 16px - 24x */
    font-size: clamp(1rem, 3.5vw, 1.5rem);
    font-weight: 600;
    line-height: 1.2em;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs-r-1892 .cs-text-large {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0 0 0.75rem;
    color: var(--headerColor);
  }
  #sbs-r-1892 .cs-text {
    margin-bottom: 0.75rem;
  }
  #sbs-r-1892 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
   .cs-button-solid {
    font-size: 1.5rem;
    font-weight: 300;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 2rem;
    background-color: var(--secondary);
    overflow: hidden;
    color: #fff;
    border: none;
    border-radius: 9999px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
   .cs-button-solid:before {
    content: "";
    width: 0;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
   .cs-button-solid:hover {
    color: #fff;
  }
   .cs-button-solid:hover:before {
    width: 100%;
  }
}


/* Small Desktop - 1024px */
@media only screen and (min-width:34rem) {

#sbs-r-1892 .cs-info {
  width: 15rem;
  height:15rem;
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {

  #sbs-r-1892 .cs-container {
    max-width: 60rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-r-1892 .cs-content {
    /* 48px - 64px */
    padding: clamp(3rem, 5vw, 4rem) 0;
  }
  #sbs-r-1892 .cs-image-group {
    font-size: min(1.27vw, 1rem);
    min-height: 45.625em;
    height: auto;
    flex: none;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbs-r-1892 .cs-picture {
    height: 93.150685%;
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 70rem) {
  #sbs-r-1892 .cs-container {
    max-width: 65rem;
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 72rem) {
  #sbs-r-1892 .cs-container {
    max-width: 68rem;
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 84rem) {
  #sbs-r-1892 .cs-container {
    max-width: 78rem;
  }
}
                                
                                
</STYLE>

<!-- ============================================ -->
<!--             Side by Side Reverse             -->
<!-- ============================================ -->

<section id="sbs-r-1892">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/mia.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/mia.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/mia.jpg" alt="dermatologist" width="324" height="467">
            </picture>
            <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/lines-reverse.svg" alt="graphic" width="208" height="203" aria-hidden="true">
            <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/blob-reverse.svg" alt="graphic" width="56" height="42" aria-hidden="true">
            <img class="cs-graphic cs-beige" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/beige-reverse.svg" alt="graphic" width="379" height="394" aria-hidden="true">
            <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/leaf-reverse.svg" alt="graphic" width="179" height="225" aria-hidden="true">
            <img class="cs-graphic cs-lines" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/mesh-reverse.svg" alt="graphic" width="189" height="208" aria-hidden="true">
            <div class="cs-info aos-item" data-aos="fade-up"  data-aos-easing="linear"  data-aos-once="false" data-aos-mirror="true">
                <p class="cs-info-text">
                    <span class="cs-bold">Mia Bauer</span>
                    Michigan Licensed Esthetician

                </p>
            </div>
        </div>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper" >Reset Refresh Relax</span>
                <h2 class="cs-title">Licensed Beauty, Cosmetic & Personal Care by Mia Glow</h2>
            </div>
            <p class="cs-text-large">
                Facials • Dermaplane • Cupping<BR>
                Waxing • Lash Lift/Tint • Brow Lamination/Tint
                <BR><BR>
            </p>
            
   
  
            <a href="" class="cs-button-solid">Book an Appointment</a>
 

            <h3 style="margin-top: 2rem;">
                36650 Green Street, New Baltimore, MI 48047
           </p>
        </div>
    </div>
</section>
                     






<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<STYLE>
  /*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #logos-572 {
        /* 60px - 130px */
        padding: clamp(3.75rem, 8vw, 8.125rem) 1rem;
        background-color: white;
    }
    #logos-572 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #logos-572 .cs-logo {
        width: auto;
        max-width: 50%;
        height: auto;
        margin: 0;
        display: block;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {

    #logos-572 .cs-logo {
        width: 10%;
        /* the max width becomes whatever the actual width of the image is */
        max-width: max-content;
        height: auto;
        display: block;
    }
}

                                
</STYLE>



<section id="logos-572" data-aos="fade-up">
  <div class="cs-container">
      <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
      <img class="cs-logo" src="/assets/images/logos/fur.png" alt="logo" height="55" loading="lazy" decoding="async">
      <img class="cs-logo" src="/assets/images/logos/fur.png" alt="logo" height="55" loading="lazy" decoding="async">
      <img class="cs-logo" src="/assets/images/logos/fur.png" alt="logo" height="55" loading="lazy" decoding="async">

      <img class="cs-logo" src="/assets/images/logos/fur.png" alt="logo" height="55" loading="lazy" decoding="async">
      <img class="cs-logo" src="/assets/images/logos/fur.png" alt="logo" height="55" loading="lazy" decoding="async">
      <img class="cs-logo" src="/assets/images/logos/fur.png" alt="logo" height="55" loading="lazy" decoding="async">

    </div>
</section>







{% include 'components/testimonial.html' %}
                              




                              

<div class="cs-container" data-aos="fade-up" style="margin-top:0px;text-align: center;">

<iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F945695943738201%2F&show_text=false&width=267&t=0" width="267" height="476" style="margin: auto;" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
<BR><BR>Emphasizing your natural beauty
</div>


<STYLE>
  /*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
#pricing-975 {
  padding: var(--sectionPadding);
}
#pricing-975 .cs-container {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 48px - 64px */
  gap: clamp(3rem, 6vw, 4rem);
}
#pricing-975 .cs-content {
  /* set text align to left if content needs to be left aligned */
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* centers content horizontally, set to flex-start to left align */
  align-items: center;
}
#pricing-975 .cs-title {
  margin: 0;
}
#pricing-975 .cs-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  column-gap: 1.25rem;
  /* 28px - 40px */
  row-gap: clamp(1.75rem, 3vw, 2.5rem);
}
#pricing-975 .cs-menu-group {
  width: 100%;
  max-width: 37.5rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 28px - 40px */
  gap: clamp(1.75rem, 3vw, 2.5rem);
}
#pricing-975 .cs-menu-item {
  list-style: none;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}
#pricing-975 .cs-h3 {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  position: relative;
}
#pricing-975 .cs-h3:before {
  /* grey line */
  content: "";
  width: 100%;
  height: 2px;
  background: #e8e8e8;
  opacity: 1;
  position: absolute;
  display: block;
  top: 0.8125rem;
  left: 0;
  z-index: -1;
}
#pricing-975 .cs-header {
  /* 20px - 25px */
  font-size: clamp(1.25rem, 2vw, 1.5625rem);
  line-height: 1.2em;
  text-align: inherit;
  font-weight: 700;
  max-width: 25rem;
  padding-right: 0.5rem;
  background-color: #fff;
  color: var(--headerColor);
}
#pricing-975 .cs-price {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400;
  padding-left: 0.5rem;
  background-color: #fff;
  color: var(--headerColor);
}
#pricing-975 .cs-menu-text {
  font-size: 1rem;
  line-height: 1.5em;
  text-align: inherit;
  margin: 0;
  color: var(--bodyTextColor);
}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
#pricing-975 .cs-menu {
  flex-direction: row;
  justify-content: space-between;
}
#pricing-975 .cs-menu-group {
  width: 100%;
}
}
                              </STYLE>

<section id="pricing-975" data-aos="fade-up">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Licensed Beauty, Cosmetic & Personal Care</span>
          <h2 class="cs-title">Services</h2>
          
      </div>
      <div class="cs-menu">
          <!--Left Menu-->
          <ul class="cs-menu-group">
              <li class="cs-menu-item">
                  <h3 class="cs-h3">
                      <span class="cs-header">Glow Facial</span>
                      <span class="cs-price">$100</span>
                  </h3>
                  <p class="cs-menu-text">
                      80 min
                  </p>
              </li>
              <li class="cs-menu-item">
                  <h3 class="cs-h3">
                      <span class="cs-header">Express Facial</span>
                      <span class="cs-price">$80</span>
                  </h3>
                  <p class="cs-menu-text">
                      30 min
                  </p>
              </li>
              <li class="cs-menu-item">
                  <h3 class="cs-h3">
                      <span class="cs-header">Dermaplane Facial</span>
                      <span class="cs-price">$39</span>
                  </h3>
                  <p class="cs-menu-text">
                      120 min
                  </p>
              </li>
              <li class="cs-menu-item">
                  <h3 class="cs-h3">
                      <span class="cs-header">Lash Lift</span>
                      <span class="cs-price">$90</span>
                  </h3>
                  <p class="cs-menu-text">
                      30 min
                  </p>
              </li>
              <li class="cs-menu-item">
                  <h3 class="cs-h3">
                      <span class="cs-header">Lash Tint</span>
                      <span class="cs-price">$30</span>
                  </h3>
                  <p class="cs-menu-text">
                      30 min
                  </p>
              </li>
          </ul>
          <!--Right Menu-->
          <ul class="cs-menu-group">
              <li class="cs-menu-item">
                  <h3 class="cs-h3">
                      <span class="cs-header">Lash lift & Tint</span>
                      <span class="cs-price">$110</span>
                  </h3>
                  <p class="cs-menu-text">
                      50 min
                  </p>
              </li>
              <li class="cs-menu-item">
                  <h3 class="cs-h3">
                      <span class="cs-header">Brow Tint</span>
                      <span class="cs-price">$30</span>
                  </h3>
                  <p class="cs-menu-text">
                      30 min
                  </p>
              </li>
              <li class="cs-menu-item">
                  <h3 class="cs-h3">
                      <span class="cs-header">Brow Tint & Sculpt</span>
                      <span class="cs-price">$45</span>
                  </h3>
                  <p class="cs-menu-text">
                      45 min
                  </p>
              </li>
              <li class="cs-menu-item">
                  <h3 class="cs-h3">
                      <span class="cs-header">Brow Lamination</span>
                      <span class="cs-price">$60</span>
                  </h3>
                  <p class="cs-menu-text">
                      30 min
                  </p>
              </li>
              <li class="cs-menu-item">
                  <h3 class="cs-h3">
                      <span class="cs-header">Brow Tint & Lamination</span>
                      <span class="cs-price">$80</span>
                  </h3>
                  <p class="cs-menu-text">
                      50 min
                  </p>
              </li>
          </ul>
      </div>
  </div>

  
  </section>

  {% include 'components/cta.html' %}





<!-- ============================================ -->
<!--                    Events                    -->
<!-- ============================================ -->



<STYLE>

  /*-- -------------------------- -->
<---          Events            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #events-1928 {
    width: 100%;
    padding: var(--sectionPadding);
    background-color: #f6eddf;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #events-1928 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 49rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  #events-1928 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 3;
  }
  #events-1928 .cs-title {
    margin: 0;
  }
  #events-1928 .cs-topper {
    color: var(--secondary);
  }
  #events-1928 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: transparent;
    overflow: hidden;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 6.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
    transition: background-color 0.3s;
  }
  #events-1928 .cs-button-solid:hover {
    background-color: var(--primary);
    color: #fff;
  }
  #events-1928 .cs-image-group {
    font-size: min(2.29vw, 1rem);
    width: 32.9375em;
    height: 42.5em;
    display: block;
    position: relative;
    z-index: 2;
  }
  #events-1928 .cs-picture {
    width: 32.625em;
    height: 42.5em;
    box-sizing: border-box;
    background-color: #dab692;
    overflow: hidden;
    border: 8px solid #dab692;
    border-radius: 16.25rem;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  #events-1928 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #events-1928 .cs-graphic {
    height: auto;
    position: absolute;
  }
  #events-1928 .cs-twirl {
    width: 11.0625em;
    height: auto;
    top: 0.9375em;
    right: 0;
    z-index: 1;
  }
  #events-1928 .cs-peach {
    width: 5.375em;
    height: auto;
    top: -0.5625em;
    right: 5.6875em;
  }
  #events-1928 .cs-blob {
    width: 33em;
    height: auto;
    right: 0;
    bottom: -3em;
    z-index: -2;
  }
  #events-1928 .cs-leaf {
    width: 10.9375em;
    height: auto;
    bottom: 1em;
    left: 0;
  }
  #events-1928 .cs-graphic3 {
    /* 385.6px - 835.2px */
    width: clamp(24.1rem, 48vw, 52.2rem);
    height: auto;
    opacity: 0.5;
    display: none;
    position: absolute;
    top: 0rem;
    right: -5.5rem;
    z-index: 1;
  }
  #events-1928 .cs-graphic4 {
    /* 484px - 835.2px */
    width: clamp(30.25rem, 60vw, 52.2rem);
    height: auto;
    opacity: 0.5;
    display: none;
    position: absolute;
    top: 5.3125rem;
    left: -9.5rem;
    z-index: 1;
  }
  #events-1928 .cs-card-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 3vw, 1.25rem);
  }
  #events-1928 .cs-item {
    text-align: left;
    text-decoration: none;
    list-style: none;
    width: 100%;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    /* 16px - 24px */
    padding: clamp(1rem, 3vw, 1.5rem);
    background-color: #FAF6F2;
    overflow: hidden;
    /* 24px - 40px */
    border-radius: clamp(1.5rem, 4vw, 2.5rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    position: relative;
    z-index: 1;
  }
  #events-1928 .cs-item:hover .cs-h3 {
    color: var(--primary);
  }
  #events-1928 .cs-date {
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.5em;
    /* 56px - 80px */
    width: clamp(8.313rem, 16vw, 9.5rem);
    height: clamp(4.813rem, 10vw, 6rem);
    margin: 0;
    padding: 0.5rem 1rem;
    /* clips the pseudo to remove the corners */
    overflow: hidden;
    color: var(--bodyTextColor);
    border-radius: 6.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: border-color 0.3s;
    flex: none;
  }
  #events-1928 .cs-date:before {
    /* background color */
    content: '';
    width: 100%;
    height: 100%;
    background-color: #F6EDDF;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: background-color 0.3s;
  }
  #events-1928 .cs-date strong {
    font-size: 1.9375rem;
    font-weight: 700;
    line-height: 1.2em;
    color: #000;
  }
  #events-1928 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    /* 4px - 16px */
    margin: 0 0 clamp(0.5rem, 1vw, 0.75rem);
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #events-1928 .cs-time {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #events-1928 .cs-card-group {
    max-width: clamp(44rem, 80vw, 46.8125rem);
  }
  #events-1928 .cs-item {
    flex-direction: row;
    align-items: center;
  }
  #events-1928 .cs-button-solid {
    margin-left: auto;
  }
  #events-1928 .cs-graphic3 {
    display: block;
  }
  #events-1928 .cs-graphic4 {
    display: block;
  }
}
/* Large Desktop -1300px */
@media only screen and (min-width: 81.25rem) {
  #events-1928 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #events-1928 .cs-content {
    padding: 3rem 0;
    align-self: center;
  }
  #events-1928 .cs-image-group {
    flex: none;
    height: auto;
  }
  #events-1928 .cs-picture {
    height: 100%;
  }
}
/* Larger Desktop -1920px */
@media only screen and (min-width: 120rem) {
  #events-1928 .cs-graphic3 {
    width: 52.1875rem;
    margin-left: 8.875rem;
    right: auto;
    left: 50%;
  }
  #events-1928 .cs-graphic4 {
    width: 52.1875rem;
    margin-right: 20.5625rem;
    top: 7.75rem;
    right: 50%;
    left: auto;
  }
}
                                
</STYLE>

<section id="events-1928" data-aos="fade-up">
  <div class="cs-container">
      <div class="cs-image-group">
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="/assets/images/facial.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="/assets/images/facial.jpg">
              <img loading="lazy" decoding="async" src="/assets/images/facial.jpg" alt="dermatologist" width="522" height="680">
          </picture>
          <img class="cs-graphic cs-twirl" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/twirl.svg" alt="graphic" width="177" height="97" aria-hidden="true">
          <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/peach-blob.svg" alt="graphic" width="86" height="65" aria-hidden="true">
          <img class="cs-graphic cs-blob" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-beige-blob.svg" alt="graphic" width="528" height="468" aria-hidden="true">
          <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/leaf-2.svg" alt="graphic" width="175" height="143" aria-hidden="true">
      </div>
      <div class="cs-content">
          <div class="cs-flex">
              <span class="cs-topper">Get ready for the weekend!</span>
              <h2 class="cs-title">Facial Fridays</h2>
          </div>
          <ul class="cs-card-group">
            <li class="cs-item">
              <span class="cs-date">
                 <s>$80</s>
                <strong>$65</strong>
              </span>
              <div class="cs-info">
                  <h3 class="cs-h3">Express Facial</h3>
                  <span class="cs-time"><img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">30 min</span>
              </div>
              <a href="" class="cs-button-solid">Book Now</a>
          </li>
          <li class="cs-item">
            <span class="cs-date">
               <s>$100</s>
              <strong>$85</strong>
            </span>
            <div class="cs-info">
                <h3 class="cs-h3">Glow Facial</h3>
                <span class="cs-time"><img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">80 min</span>
            </div>
            <a href="" class="cs-button-solid">Book Now</a>
        </li>
        <li class="cs-item">
          <span class="cs-date">
             <s>$110</s>
            <strong>$95</strong>
          </span>
          <div class="cs-info">
              <h3 class="cs-h3">Dermaplane Facial</h3>
              <span class="cs-time"><img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">110 min</span>
          </div>
          <a href="" class="cs-button-solid">Book Now</a>
      </li>
          </ul>
      </div>
  </div>
  <img class="cs-graphic3" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/faces-graphic.svg" alt="graphic" loading="lazy" decoding="async" width="835" height="912">
  <img class="cs-graphic4" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/faces-graphic-flipped.svg" alt="graphic" loading="lazy" decoding="async" width="835" height="912">

</section>
            







<!-- ============================================ -->
<!--                    Steps                     -->
<!-- ============================================ -->


<STYLE>
  /*-- -------------------------- -->
<---          Steps             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1893 {
    padding: var(--sectionPadding);
    background-color: #F6EDDF;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #steps-1893 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  #steps-1893 .cs-image-group {
    font-size: min(2.24vw, 0.9rem);
    width: 30.125em;
    height: 38.5em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #steps-1893 .cs-picture {
    width: 25.8125em;
    height: 37.0625em;
    margin-top: 1.5em;
    box-sizing: border-box;
    background-color: #DAB692;
    overflow: hidden;
    border: 8px solid #DAB692;
    border-radius: 16.25rem;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  #steps-1893 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #steps-1893 .cs-graphic {
    height: auto;
    position: absolute;
  }
  #steps-1893 .cs-brown {
    width: 10.3125em;
    height: auto;
    top: 1.25em;
    left: 1.5em;
    z-index: -2;
    transform: rotate(140deg);
  }
  #steps-1893 .cs-peach {
    width: 4.3125em;
    height: auto;
    top: 1em;
    left: 8.75em;
    transform: rotate(-40deg);
  }
  #steps-1893 .cs-leaf {
    width: 14em;
    height: auto;
    bottom: 0em;
    right: 1em;
    z-index: 1;
  }
  #steps-1893 .cs-dots {
    width: 16.3125em;
    height: auto;
    left: 1em;
    bottom: 1em;
    z-index: -2;
  }
  #steps-1893 .cs-lines {
    width: 15.375em;
    right: 0;
    bottom: 0em;
  }
  #steps-1893 .cs-wrapper {
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-1893 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #steps-1893 .cs-topper {
    color: var(--secondary);
  }
  #steps-1893 .cs-title {
    margin: 0;
  }
  #steps-1893 .cs-card-group {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: stretch;
    grid-auto-flow: row;
    /* 24px - 32px */
    gap: clamp(1.5rem, 3vw, 2rem);
  }
  #steps-1893 .cs-item {
    list-style: none;
    padding-bottom: 2rem;
    border-bottom: #DED1BD 1px solid;
    display: flex;
    align-items: flex-start;
    /* 16px - 24px */
    gap: clamp(1rem, 2vw, 1.5rem);
    position: relative;
  }
  #steps-1893 .cs-item:last-of-type {
    border-bottom: none;
  }
  #steps-1893 .cs-number {
    /* 49px - 72px */
    font-size: clamp(3.0625rem, 6vw, 4.5rem);
    font-weight: 900;
    line-height: 1.1875em;
    color: var(--primary);
    opacity: 0.2;
    display: block;
  }
  #steps-1893 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.125em;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #steps-1893 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1893 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: stretch;
    /* 48px - 60px */
    gap: clamp(3rem, 6vw, 3.75rem);
  }
  #steps-1893 .cs-card-group {
    /* 16px - 32px */
    gap: clamp(1rem, 3vw, 2rem);
  }
  #steps-1893 .cs-item {
    flex-direction: row;
  }
  #steps-1893 .cs-image-group {
    font-size: min(1.5vw, 1rem);
    height: auto;
    min-height: 38.5em;
    flex: none;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #steps-1893 .cs-picture {
    height: 96.266234%;
  }
}
                                
</STYLE>
<section id="steps-1893" >
  <div class="cs-container">
      <div class="cs-image-group">
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dermatologist1.jpeg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dermatologist1.jpeg">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dermatologist1.jpeg" alt="dermatologist" width="324" height="467">
          </picture>
          <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-lines2.svg" alt="graphic" width="100" height="98" aria-hidden="true">
          <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/peach-blob.svg" alt="graphic" width="42" height="31" aria-hidden="true">
          <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/leaf-reverse.svg" alt="graphic" width="136" height="171" aria-hidden="true">
          <img class="cs-graphic cs-dots" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-dots.svg" alt="graphic" width="159" height="88" aria-hidden="true">
          <img class="cs-graphic cs-lines" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/mesh-reverse.svg" alt="graphic" width="150" height="165" aria-hidden="true">
      </div>
      <div class="cs-wrapper">
          <div class="cs-content">
              <span class="cs-topper">How to get started</span>
              <h2 class="cs-title">Simple Steps to Get Our Services</h2>
          </div>
          <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number">01</span>
                  <div class="cs-flex">
                      <h3 class="cs-h3">Read our policies</h3>
                      <p class="cs-item-text">
                          Aside from seeing patients, Dr. Paul is dedicated to patient advocacy and education on  evidence-based medicine in dermatology, especially for skin of color. 
                      </p>
                  </div>
              </li>
              <li class="cs-item">
                  <span class="cs-number">02</span>
                  <div class="cs-flex">
                      <h3 class="cs-h3">Book your appointment</h3>
                      <p class="cs-item-text">
                          Aside from seeing patients, Dr. Paul is dedicated to patient advocacy and education on  evidence-based medicine in dermatology, especially for skin of color. 
                      </p>
                  </div>
              </li>
              <li class="cs-item">
                  <span class="cs-number">03</span>
                  <div class="cs-flex">
                      <h3 class="cs-h3">Follow your treatment plan</h3>
                      <p class="cs-item-text">
                          Aside from seeing patients, Dr. Paul is dedicated to patient advocacy and education on  evidence-based medicine in dermatology, especially for skin of color. 
                      </p>
                  </div>
              </li>
          </ul>
      </div>
  </div>


  <div style="margin-top: 50px;" class="cs-container">
    <a href="" class="cs-button-solid">Book an Appointment</a>
  </div>
          
</section>









<!-- ============================================ -->
<!--                 Recent Posts                 -->
<!-- ============================================ -->


<STYLE>
  /*-- -------------------------- -->
<---        Recent Posts        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #blog-1347 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    #blog-1347 .cs-container {
        width: 100%;
        /* changes to 1280px on desktop */
        max-width: 43.75rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #blog-1347 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #blog-1347 .cs-title {
        max-width: 20ch;
    }
    #blog-1347 .cs-topper {
        color: var(--secondary);
    }
    #blog-1347 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
    }
    #blog-1347 .cs-item {
        list-style: none;
        display: flex;
        flex-direction: column;
        grid-column: span 12;
    }
    #blog-1347 .cs-item:hover .cs-h3,
    #blog-1347 .cs-item:hover .cs-date,
    #blog-1347 .cs-item:hover .cs-category {
        color: #fff;
    }
    #blog-1347 .cs-item:hover .cs-item-text {
        background-color: var(--primary);
    }
    #blog-1347 .cs-item:hover .cs-icon-wrapper {
        border-color: #fff;
    }
    #blog-1347 .cs-item:hover .cs-icon,
    #blog-1347 .cs-item:hover .cs-date-icon {
        filter: brightness(1000%) grayscale(1);
    }
    #blog-1347 .cs-item:hover .cs-icon {
        transform: rotate(45deg);
    }
    #blog-1347 .cs-item:hover .cs-category::before {
        background-color: #fff;
        opacity: 0.2;
    }
    #blog-1347 .cs-link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        /* if one card has more content then the others, the card will stretch to fill the parent container */
        flex-grow: 1;
        gap: 1rem;
    }
    #blog-1347 .cs-picture {
        width: 100%;
        height: 20rem;
        margin: 0;
        border-radius: 1.5rem;
        display: block;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    #blog-1347 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    #blog-1347 .cs-item-text {
        padding: 1.25rem;
        background-color: #f7f7f7;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* makes the item text the element that grows to fill the container */
        flex-grow: 1;
        transition: background-color 0.3s;
    }
    #blog-1347 .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
        line-height: 1.2em;
        text-align: left;
        margin: 0;
        color: #1a1a1a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        transition: color 0.3s;
    }
    #blog-1347 .cs-icon-wrapper {
        width: 3rem;
        height: 3rem;
        border: 1px solid #bababa;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents the parent flexbox from shrinking the icon */
        flex-shrink: 0;
        transition: border-color 0.3s;
    }
    #blog-1347 .cs-icon {
        width: auto;
        height: 0.75rem;
        transition:
            filter 0.3s,
            transform 0.3s;
    }
    #blog-1347 .cs-info {
        margin: 1rem 0 0;
        padding: 1rem 0 0;
        border-top: 1px solid #e8e8e8;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #blog-1347 .cs-date {
        font-size: 0.875rem;
        line-height: 1.5em;
        text-align: left;
        color: #1a1a1a;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: color 0.3s;
    }
    #blog-1347 .cs-date-icon {
        width: auto;
        height: 1.5rem;
        transition: filter 0.3s;
    }
    #blog-1347 .cs-category {
        font-size: 0.875rem;
        /* centers the text if the category bullet has to span multiple lines */
        text-align: center;
        padding: 0.25rem 1rem;
        color: #1a1a1a;
        border-radius: 5rem;
        position: relative;
        z-index: 0;
        overflow: hidden;
    }
    #blog-1347 .cs-category::before {
        content: "";
        width: 100%;
        height: 100%;
        background: #e8e8e8;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #blog-1347 .cs-bubbles {
        width: 20.0625rem;
        height: 26.4375rem;
        display: none;
        position: absolute;
        top: 66.4375rem;
        right: -8.75rem;
        z-index: -1;
    }
    #blog-1347 .cs-bubbles:before {
        /* white border bubble */
        content: "";
        width: 16.5rem;
        height: 16.5rem;
        background: transparent;
        opacity: 1;
        border: 1px solid #1a1a1a;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        animation-name: floatAnimation;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }
    #blog-1347 .cs-bubbles:after {
        /* orange bubble */
        content: "";
        width: 16.5rem;
        height: 16.5rem;
        background: var(--primary);
        opacity: 0.1;
        border-radius: 50%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 14s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #blog-1347 .cs-bubbles {
        display: block;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #blog-1347 .cs-container {
        max-width: 80rem;
    }
    #blog-1347 .cs-item {
        grid-column: span 4;
    }
    #blog-1347 .cs-bubbles {
        top: 17.5625rem;
    }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #blog-1347 .cs-bubbles {
        margin-right: -61.875rem;
        right: 50%;
    }
}

                                
</STYLE>

<section id="blog-1347" data-aos="fade-up">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Glow Blog</span>
          <h2 class="cs-title">Important info and tips directly from Mia</h2>
          <!--<p class="cs-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis quam eu elit lobortis ultrices. Nulla ut accumsan lorem, sed molestie justo. Praesent vehicula eleifend.
          </p>-->
      </div>
      <ul class="cs-card-group">
 
          <li class="cs-item">
              <a class="cs-link" href="/blog/policies/">
                  <picture class="cs-picture">
                      <source media="(max-width: 600px)"
                          srcset="/assets/images/blog/mia.jpg">
                      <source media="(min-width: 601px)"
                          srcset="/assets/images/blog/mia.jpg">
                      <img decoding="async"
                          src="assets/images/blog/mia.jpg"
                          alt="agency" width="413" height="374" aria-hidden="true">
                  </picture>
                  <div class="cs-item-text">
                      <h3 class="cs-h3">
                          Please Read Before Booking
                          <picture class="cs-icon-wrapper">
                              <img class="cs-icon" decoding="async"
                                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                      alt="arrow" width="413" height="374" aria-hidden="true">
                          </picture>
                      </h3>
                      <div class="cs-info">
                          <span class="cs-date">
                              <img class="cs-date-icon" decoding="async"
                                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                                      alt="calendar" width="413" height="374" aria-hidden="true">
                              07 Sep, 2022
                          </span>
                          <span class="cs-category">
                              MUST READ!
                          </span>
                      </div>
                  </div>
              </a>
          </li>
          <li class="cs-item">
            <a class="cs-link" href="/blog/lash-lift-and-tint-prep/">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                        srcset="/assets/images/blog/eyelashes.jpg">
                    <source media="(min-width: 601px)"
                        srcset="/assets/images/blog/eyelashes.jpg">
                    <img decoding="async"
                        src="/assets/images/blog/eyelashes.jpg"
                        alt="agency" width="413" height="374" aria-hidden="true">
                </picture>
                <div class="cs-item-text">
                    <h3 class="cs-h3">
                      Lash Lift and Tint Prep 
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                    alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                    </h3>
                    <div class="cs-info">
                        <span class="cs-date">
                            <img class="cs-date-icon" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                                    alt="calendar" width="413" height="374" aria-hidden="true">
                            07 Sep, 2022
                        </span>
                        <span class="cs-category">
                            Important Info
                        </span>
                    </div>
                </div>
            </a>
        </li>
          <li class="cs-item">
              <a class="cs-link" href="/blog/brow-tint-lam-prep/">
                  <picture class="cs-picture">
                      <source media="(max-width: 600px)"
                          srcset="/assets/images/blog/brow.jpg">
                      <source media="(min-width: 601px)"
                          srcset="/assets/images/blog/brow.jpg">
                      <img decoding="async"
                          src="/assets/images/blog/brow.jpg"
                          alt="agency" width="413" height="374" aria-hidden="true">
                  </picture>
                  <div class="cs-item-text">
                      <h3 class="cs-h3">
                        Brow Tint/Lam. Prep 
                          <picture class="cs-icon-wrapper">
                              <img class="cs-icon" decoding="async"
                                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                      alt="arrow" width="413" height="374" aria-hidden="true">
                          </picture>
                      </h3>
                      <div class="cs-info">
                          <span class="cs-date">
                              <img class="cs-date-icon" decoding="async"
                                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                                      alt="calendar" width="413" height="374" aria-hidden="true">
                              07 Sep, 2022
                          </span>
                          <span class="cs-category">
                              Important Info
                          </span>
                      </div>
                  </div>
              </a>
          </li>
      </ul>
  </div>
  <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                              





    {% include 'components/cta.html' %}




    {% endblock %}